backcall
decorator
ipython
ipython-genutils
jedi
numpy
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pyclust
pyclustering
Pygments
scikit-learn
scipy
simplegeneric
six
torch
torchvision
tqdm
traitlets
wcwidth
treelib
